body{
 font-family: Arial, sans-serif;
 font-size: 15px;
 line-height: 1,5;
 padding:0;
 margin: auto;
 background-color: lightsteelblue; 
 text-align: center; 
 
}

header{
background:  rgb(59, 103, 141);
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #ffffff 3px solid;
}

header .highlight, header .current a{
 color: lightsteelblue;
 font-weight: bold;
}

header #merk {
float: left;
}
 
header #merk {
 margin: 0;
}

.container{
 width: 80%;
 margin:auto;
 overflow: hidden;
}

header a{
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header ul{
 margin: 0;
 padding: 0;
}

header li {
 float: left;
 display: inline;
 padding: 0 20px 0 20px;
}

header nav{
 float: right;
 margin-top: 10px;
 margin-bottom: 20px; 
}

header a:hover{
 color:black;
 font-weight: bold;
}

#bionisch, #geschiedenis, #toekomst{
 font-size: 20px;
 text-align: center;
 margin: auto; 
 width: 80%
 
 }

table{
  width: 450px;
  border-spacing: 10px;
  margin: auto;
  border-collapse: collapse;
}

table, th, td{
 border: 2px solid white;
 font-size: 18px;
 color: white;
}

th{
 text-align: center;
 background-color: #2a0372dc;
}
 
th, td{
 padding: 10px;
}

tr:nth-child(even) {
 background-color: #6f21ffdc ;
 }
 
tr:nth-child(odd) {
 background-color: #360197dc;
 }
 

.page-nav ul {
   list-style-type: none;
   padding: 0;
   display: inline; 
 }
 
   .page-nav ul li {
     transition: all 200ms ease;
     position: relative;
     line-height: 200%;
    
   }

.page-nav ul li:hover {
      left: 4px;
   
    }
     .page-nav a{
       color: darkblue;
       text-decoration: none;
        font-size: 15px;
     }
       .page-nav h2{
         font-size: 18px;
         color: blue;
       }

p{
  font-size: 20px; 
}

h4{
  font-size: 30px; 
}

#foto img{
height: 350px; 
margin-bottom: 40px; 
margin-top: auto; 
}

footer ul li {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: inline;
}

.ftekst {
   width: 45%;
   float: left;
   margin: 2% 2%;
   text-align: center;
 }

footer {
 width: 100%;
 background: rgba(0, 0, 235, 0.664);
 overflow: hidden;
}
 
footer p, h2 {
 color: #ffffff;
}

ul {
 list-style-type: circle;
 margin: 0;
 padding: 0;
 display: inline;
}
 
ul li img {
 height: 50px;
}

@media (max-width: 400px){
.page-nav{
  display: none;
  }

@media (max-width: 400px){
 ul li img {
  height: 40px ;
 }

@media (max-width: 400px){
 table {
 width: 50% ;
 }
