body{
 font-family: Arial, sans-serif;
 font-size: 15px;
 line-height: 1,5;
 padding:0;
 margin: auto;
 background-color: lightsteelblue; 

}

/*global*/
.container{
 width: 80%;
 margin:auto;
 overflow: hidden;
}

/*Header**/
header{
background: steelblue;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #ffffff 3px solid;
}

header a{
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}

header ul{
 margin: 0;
 padding: 0;
}

header li {
 float: left;
 display: inline;
 padding: 0 20px 0 20px;
}

header #merk {
float: left;
}
 
header #merk {
 margin: 0;
}
 
header nav{
 float: right;
 margin-top: 10px;
 margin-bottom: 20px; 
}

header .highlight, header .current a{
 color: lightsteelblue;
 font-weight: bold;
}
 
header a:hover{
 color:black;
 font-weight: bold;
}

